*.user
*.swp
*.suo
resque-sharp/bin
resque-sharp/obj
resque-sharp/obj/Release/*.dll
resque-sharp/obj/Release/*.pdb
tests/obj
tests/bin
resque-sharp/obj/Release/resque-sharp.dll
resque-sharp/obj/Release/resque-sharp.pdb
